.cart-button {
    list-style: none;

    &__submenu {
        position: relative;

        
    }

    &__row {
        transition: .5s;
        font-size: 12px;
        display: none;
        position: absolute;
        right:-10px;
        top:65px;
        z-index: 100;
        background-color: rgba(255, 255, 255, 0.977);
        padding: 20px;
        min-height: 300px;
        min-width: 480px;
    }

    &__list {
        width: 480px;
        border-spacing: 0;
        
        & thead {
            color: #666;
            text-transform: uppercase;
            border-radius: 3px;
            text-align: center;
            outline: 1.5px solid rgba(102, 102, 102, 0.356);
            height: 25px;
        }
        
        & tbody{
            padding-top: 15px;
            text-align: center;

            & tr {
                border-collapse: collapse;
                width: 70px;
            }
            & td {
                min-width: 70px;
                padding: 5px 8px;
                // outline: rgba(48, 50, 169, 0.37) 2px solid;
            }
            
            & tr:hover{
                background-color: #f4f4f4;
                outline: rgba(48, 50, 169, 0.37) 1.5px solid;
            }
        }
    }

    &__vaciar-carrito{
        margin-top: 10px;
        display: block;
        color: #555;
        text-align: center;
        font-size: 11px;
        font-weight: 600;
        line-height: 38px;
        letter-spacing: .1rem;
        text-transform: uppercase;
        text-decoration: none;
        white-space: nowrap;
        background-color: transparent;
        border-radius: 4px;
        border: 1.5px solid #bbb;
        cursor: pointer;
        box-sizing: border-box;
    }

    &__vaciar-carrito:hover {
        background-color: rgba(167, 164, 164, 0.171);
    }

    &__delete-article{
        background-color: red;
        border-radius: 50%;
        padding: 5px 10px;
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
}