
<div class="carousel-articles">
    <div class="carousel-articles__images">
        <img src="img/portada/banner-2.png" alt="Imagen 1" class="carousel-articles__img">
        <img src="img/portada/banner-3.png" alt="Imagen 2" class="carousel-articles__img">
        <img src="img/portada/banner-5.jpg" alt="Imagen 3" class="carousel-articles__img">
    </div>

    <ul class="carousel-articles__slider">
        <li class="carousel-articles__slider-point carousel-articles__slider-point--active"></li>
        <li class="carousel-articles__slider-point"></li>
        <li class="carousel-articles__slider-point"></li>
    </ul>
</div>

<section class="section-cards">
    <header class="section-cards__header">
        <h1>Recomendados !</h1>
        <p>Lorem ipsum dolor sit amet.</p>
    </header>

    <div class="cards-container">
        <div class="card">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/productos/valija-juliana-make-up-unicorn-maquillaje-unicornio1-1ea8ddf17bb563a2b516185016138927-1024-1024.jpg" alt="Producto" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Valija Juliana Make Up Unicorn Maquillaje Unicornio</h2>
                    <div class="card__description">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, voluptatibus!</p>
                    </div>
                    <div class="card__price"> 
                        <span class="card__price-previous"></span>                     
                        <span class="card__price-discount"></span>
                        <span class="card__price-final">$ 2.799</span>
                        <input class="card__price-final-value" value="2799" type="hidden">
                        <span class="card__add-cart"></span>
                    </div> 
                    <div class="card__add-cart"></div>
                    <div class="card__link">
                        <a href="#" class="card__link-buy agregar-carrito" data-id="1">Agregar al carrito</a>
                    </div>
                </div>
            </article>
        </div>
        <div class="card">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/productos/D_NQ_NP_842720-MLA48344738924_112021-O.jpg" alt="Producto" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Cry Babies Kristal IMC Toys 98206IM</h2>
                    <div class="card__description">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, voluptatibus!</p>
                    </div>
                    <div class="card__price"> 
                        <span class="card__price-previous">$ 24.999</span>                     
                        <span class="card__price-discount">15% OFF</span>
                        <span class="card__price-final">$ 21.250</span>
                        <input class="card__price-final-value" value="21250" type="hidden">
                        <span class="card__add-cart"></span>
                    </div> 
                    <div class="card__add-cart"></div>
                    <div class="card__link">
                        <a href="#" class="card__link-buy agregar-carrito" data-id="2">Agregar al carrito</a>
                    </div>
                </div>
            </article>
        </div>
        <div class="card">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/productos/rondi-blue-metal-12-600x511.jpg" alt="Producto" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Triciclo Rondi Metal azul</h2>
                    <div class="card__description">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, voluptatibus!</p>
                    </div>
                    <div class="card__price"> 
                        <span class="card__price-previous"></span>                     
                        <span class="card__price-discount"></span>
                        <span class="card__price-final">$9.499</span>
                        <input class="card__price-final-value" value="2799" type="hidden">
                        <span class="card__add-cart"></span>
                    </div> 
                    <div class="card__add-cart"></div>
                    <div class="card__link">
                        <a href="#" class="card__link-buy agregar-carrito" data-id="3">Agregar al carrito</a>
                    </div>
                </div>
            </article>
        </div>
        <div class="card">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/productos/D_NQ_NP_834477-MLA46926700237_072021-V.jpg" alt="Producto" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Set Aeropuerto Avion Accesorios Juguete Infantil Niños</h2>
                    <div class="card__description">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, voluptatibus!</p>
                    </div>
                    <div class="card__price"> 
                        <span class="card__price-previous"></span>                     
                        <span class="card__price-discount"></span>
                        <span class="card__price-final">$2.632 </span>
                        <span class="card__add-cart"></span>
                    </div>  
                    <div class="card__add-cart"></div>
                    <div class="card__link">
                        <a href="#" class="card__link-buy agregar-carrito" data-id="4">Agregar al carrito</a>
                    </div>
                </div>
            </article>
        </div>
        <div class="card">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/productos/minionscirular-62c84f49c12d9.jpg" alt="Producto" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Minions Nace Un Villano Puzzle Circular 30 Pzs</h2>
                    <div class="card__description">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, voluptatibus!</p>
                    </div>
                    <div class="card__product"> 
                        <span class="card__price-previous"></span>                     
                        <span class="card__price-discount"></span>
                        <span class="card__price-final">$ 1.972</span>
                        <span class="card__add-cart"></span>
                    </div> 
                    <div class="card__add-cart"></div>
                    <div class="card__link">
                        <a href="#" class="card__link-buy agregar-carrito" data-id="5">Agregar al carrito</a>
                    </div>
                </div>
            </article>
        </div>
        <div class="card">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/productos/cocina-cocinita-mi-primer-cocina-new-plast-10626-full-D_NQ_NP_887263-MLA30992232898_062019-F.jpg" alt="Producto" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Mi Primer Cocina Cocinita Juguete Juego Set Infantil Niñas</h2>
                    <div class="card__description">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, voluptatibus!</p>
                    </div>
                    <div class="card__price"> 
                        <span class="card__price-previous"></span>                     
                        <span class="card__price-discount"></span>
                        <span class="card__price-final">$ 5.500</span>
                        <span class="card__add-cart"></span>
                    </div>  
                    <div class="card__add-cart"></div>
                    <div class="card__link">
                        <a href="#" class="card__link-buy agregar-carrito" data-id="6">Agregar al carrito</a>
                    </div>
                </div>
            </article>
        </div>
        <div class="card">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/productos/D_NQ_NP_800418-MLA49568690908_042022-V.jpg" alt="Producto" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Chicco Sensory Table Mesa Didáctica 10154</h2>
                    <div class="card__description">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, voluptatibus!</p>
                    </div>
                    <div class="card__price"> 
                        <span class="card__price-previous">$ 15.990</span>                     
                        <span class="card__price-discount">12% OFF</span>
                        <span class="card__price-final">$13.990</span>
                        <span class="card__add-cart"></span>
                    </div>
                    <div class="card__add-cart"></div>
                    <div class="card__link">
                        <a href="#" class="card__link-buy agregar-carrito" data-id="7">Agregar al carrito</a>
                    </div>
                </div>
            </article>
        </div>
        <div class="card">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/productos/images.jpg" alt="Producto" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Auto de carrera a control remoto Ditoys 1082 Cars Rayo McQueen</h2>
                    <div class="card__description">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, voluptatibus!</p>
                    </div>
                    <div class="card__price"> 
                        <span class="card__price-previous"></span>                     
                        <span class="card__price-discount"></span>
                        <span class="card__price-final">$ 6.749</span>
                        <span class="card__add-cart"></span>
                    </div> 
                    <div class="card__add-cart"></div>
                    <div class="card__link">
                        <a href="#" class="card__link-buy agregar-carrito" data-id="8">Agregar al carrito</a>
                    </div>
                </div>
            </article>
        </div>
        <div class="card">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/productos/D_NQ_NP_915010-MLA45856199396_052021-O.jpg" alt="Producto" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Bloques Ladrillos Blocky Balde Nº3 Nena 210 Piezas</h2>
                    <div class="card__description">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, voluptatibus!</p>
                    </div>
                    <div class="card__price"> 
                        <span class="card__price-previous"></span>                     
                        <span class="card__price-discount"></span>
                        <span class="card__price-final">$ 4.490</span>
                        <span class="card__add-cart"></span>
                    </div> 
                    <div class="card__add-cart"></div>
                    <div class="card__link">
                        <a href="#" class="card__link-buy agregar-carrito" data-id="9">Agregar al carrito</a>
                    </div>
                </div>
            </article>
        </div>
        <div class="card">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/productos/D_NQ_NP_746131-MLA43330624481_092020-W.jpg" alt="Producto" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Juego Didáctico Pirámide Anillos Apilable Duravit</h2>
                    <div class="card__description">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, voluptatibus!</p>
                    </div>
                    <div class="card__price"> 
                        <span class="card__price-previous"></span>                     
                        <span class="card__price-discount"></span>
                        <span class="card__price-final">$ 920</span>
                        <span class="card__add-cart"></span>
                    </div> 
                    <div class="card__add-cart"></div>
                    <div class="card__link">
                        <a href="#" class="card__link-buy agregar-carrito" data-id="10">Agregar al carrito</a>
                    </div>
                </div>
            </article>
        </div>
        <div class="card">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/productos/D_NQ_NP_716855-MLA48554240662_122021-O.jpg" alt="Producto" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Banco De Herramientas De Juguete Niño Infantil Lionels</h2>
                    <div class="card__description">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, voluptatibus!</p>
                    </div>
                    <div class="card__price"> 
                        <span class="card__price-previous">$ 5.990</span>                     
                        <span class="card__price-discount">18% OFF</span>
                        <span class="card__price-final">$ 4.890</span>
                        <span class="card__add-cart"></span>
                    </div> 
                    <div class="card__add-cart"></div>
                    <div class="card__link">
                        <a href="#" class="card__link-buy agregar-carrito" data-id="11">Agregar al carrito</a>
                    </div>
                </div>
            </article>
        </div>
        <div class="card">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/productos/D_NQ_NP_650025-MLA46484115790_062021-O.jpg" alt="Producto" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Bateria Musical Para Niños First Band</h2>
                    <div class="card__description">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, voluptatibus!</p>
                    </div>
                    <div class="card__price"> 
                        <span class="card__price-previous"></span>                     
                        <span class="card__price-discount"></span>
                        <span class="card__price-final">$ 6.199</span>
                        <span class="card__add-cart"></span>
                    </div> 
                    <div class="card__add-cart"></div>
                    <div class="card__link">
                        <a href="#" class="card__link-buy agregar-carrito" data-id="12">Agregar al carrito</a>
                    </div>
                </div>
            </article>
        </div>
        <div class="card">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/productos/autohotshi2.jpg" alt="Producto" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Autitos Hot Wheels Con Llave Cambia De Color Lanzador Auto</h2>
                    <div class="card__description">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, voluptatibus!</p>
                    </div>
                    <div class="card__price"> 
                        <span class="card__price-previous"></span>                     
                        <span class="card__price-discount"></span>
                        <span class="card__price-final">$ 1.200</span>
                        <span class="card__add-cart"></span>
                    </div> 
                    <div class="card__link">
                        <a href="#" class="card__link-buy agregar-carrito" data-id="13">Agregar al carrito</a>
                    </div>
                </div>
            </article>
        </div>
        <div class="card">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/productos/D_NQ_NP_841921-MLA44102521816_112020-O.jpg" alt="Producto" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Barbie - Dreamtopia - Sirena</h2>
                    <div class="card__description">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, voluptatibus!</p>
                    </div>
                    <div class="card__price"> 
                        <span class="card__price-previous"></span>                     
                        <span class="card__price-discount"></span>
                        <span class="card__price-final">$11.199</span>
                        <span class="card__add-cart"></span>
                    </div>
                    <div class="card__add-cart"></div>
                    <div class="card__link">
                        <a href="#" class="card__link-buy agregar-carrito" data-id="14">Agregar al carrito</a>
                    </div>
                </div>
            </article>
        </div>
        <div class="card">
            <article class="card__article">
                <div class="card__image-container">
                    <img src="img/productos/D_NQ_NP_972778-MLA48341977214_112021-O.jpg" alt="Producto" class="card__image">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">Figura de acción Toy Story Señor Cara de Papa 27657 de Hasbro Plasyskool</h2>
                    <div class="card__description">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, voluptatibus!</p>
                    </div>
                    <div class="card__price"> 
                        <span class="card__price-previous">$ 4.799</span>                     
                        <span class="card__price-discount">15% OFF</span>
                        <span class="card__price-final">$ 4.100</span>
                        <span class="card__add-cart"></span>
                    </div> 
                    <div class="card__add-cart"></div>
                    <div class="card__link">
                        <a href="#" class="card__link-buy agregar-carrito" data-id="15">Agregar al carrito</a>
                    </div>
                </div>
            </article>
        </div>
    </div>

    <footer class="section-cards__footer">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias aut accusamus laboriosam rem ex magnam!</p>
        <p>Fugit architecto quia molestiae illo quasi tempore, et deserunt, fugiat iure quae delectus nemo odit.</p>
    </footer>
</section>