<div class="main-we">
    <div class="main-we__img">
        <img src="img/portada/mobile_bannerCategoria_juguetes.png" alt="">
    </div>

    <div class="main-we__container-text">
        <h1>¿Quiénes somos?</h1>
        <img src="img/portada/image.jpg" alt="">
        <p>¡Bienvenidos a Juguetería Cósmica!</p>
        <p>Te contamos un poco acerca de nosotros.</p>
        <p>Somos una empresa familiar con 10 años de trayectoria, dedicada al rubro de juguetería y artículos para el bebé.</p>
        <p>La apertura de nuestra primera sucursal se realizo en CABA situada en Av. Corrientes 3232. Al poco tiempo fuimos sumado sucursales, hasta  llegar a las 3 que tenemos hoy en día en CABA y GBA.</p>
        <p>Lo más importante para nosotros es ofrecerte productos de alta calidad, innovadores y didácticos.Estamos siempre a la vanguardia, brindándote todos los juguetes que son tendencia en el mundo,sin descuidar los valores por los cuales nuestros clientes, los niños, nos eligen.</p>
        <p>Te damos la bienvenida a nuestro nuevo sitio Web. Seguimos apostando a ofrecer y mejorar nuestra atención.</p>
        <p>¡Vení a visitarnos! ¡Te esperamos!</p>
    </div>
    <div class="main-we__container-team">
        <h2>Nuestro equipo</h2>
        <p>El personal de nuestras sucursales, con su calidez y capacitación, te va a ayudar a encontrar el juguete que necesitás. Y si elegís hacer tu pedido en nuestra tienda online, contamos con un canal directo de comunicación para responder a todas tus inquietudes.</p>

        <div class="team-profile">
            <div class="team-profile__img">
                <img src="img/equipo/profile1.jpg" alt="">
            </div>
            <div class="team-profile__data">
                <h3>Belen Funes</h3>
                <h4>Gerente de Operaciones</h4>
                <p>Belen es la mejor fuente de conocimiento cuando se trata de figuras de acción antiguas y cualquier cosa de Star Wars. Esto es parte de lo que lo convierte en un excelente gerente de operaciones en Juguetería Cósmica.</p>
            </div>
        </div>
        <div class="team-profile">
            <div class="team-profile__img">
                <img src="img/equipo/profile4.jpg" alt="">
            </div>
            <div class="team-profile__data">
                <h3>Francisco Mendoza</h3>
                <h4>Gerente sénior de productos y diseño</h4>
                <p>A Francisco le encanta aparecer en Juguetería Cósmica porque siempre está rodeado de juguetes de sus películas favoritas. En su tiempo libre, le gusta hacer cualquier cosa creativa, especialmente hacer disfraces.</p>
            </div>
        </div>
        <div class="team-profile">
            <div class="team-profile__img">
                <img src="img/equipo/profile2.jpg" alt="">
            </div>
            <div class="team-profile__data">
                <h3>Marta Sanchez</h3>
                <h4>Experto en control de calidad</h4>
                <p>A Marta le encanta el ambiente divertido de Juguetería Cósmica y disfruta ver todos los productos únicos que pasan por la puerta todos los días. Su atención al detalle la convierte en una fantástica experta en control de calidad.</p>
            </div>
        </div>
        <div class="team-profile">
            <div class="team-profile__img">
                <img src="img/equipo/profile5.jpg" alt="">
            </div>
            <div class="team-profile__data">
                <h3>Cristian Ramos</h3>
                <h4>Vendedor</h4>
                <p>Cristian esta en el area de ventas al público, es una persona creativa y genera muchas propuestas, además es atento a analizar resultados y busca mejoras constantes y tiene gran manejo de las redes sociales y de aplicaciones de edición de fotos y videos.  </p>
            </div>
        </div>
        <div class="team-profile">
            <div class="team-profile__img">
                <img src="img/equipo/profile3.jpg" alt="">
            </div>
            <div class="team-profile__data">
                <h3>Daniel Nieto</h3>
                <h4>Asociado de listado</h4>
                <p>Daniel ha estado en  Juguetería Cósmica desde el principio (es la hijo del propietario) y ha sido una parte integral del éxito de la empresa. Es una fotógrafo fabuloso que hace que nuestros productos se vean increíbles en la pantalla.</p>
            </div>
        </div>

    </div>
</div>
