.alta-form {
    display: flex;

    &__right {
        background-image: url(../../img/fondo-de-pantalla/alta-form-1.PNG);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }

    &__left {
        background-color: #e42e7173;

        width: 100%;
        // min-width: 340px;
        padding: 10px;
        
        & h1 {
            font-family: 'Fredoka One', cursive;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;

            @media (min-width: 360px) {
                min-width: 340px;
            }
        }

        .row-container__data  {
            display: block;
            width: 80%;
            margin: auto;
            
            & input{
                margin: 15px 10px;
                background: transparent;
                border: 0;
                border-bottom: 2px solid #d97000; 
                width: 90%;
        
                &:hover,
                &:focus {
                    box-shadow: 2px 2px 2px 0 rgb(244, 178, 66);
                    border-radius: 5px;
                    height: 30px;
                    background-color: #f4f4f4;
                    outline: none;
                }
            }

        }
        .row-container__description {
            margin: 15px 20px;
            
            &-label {
                margin-bottom: 10px;
            }
            
            & textarea {
                background-color: #f4f4f4;
                border: solid 2px #d97000;
                padding: 8px;
                border-radius: 5px;
                resize: vertical;
                display: flex;
                margin: auto;
                width: 80%;
                height: 90px;
            }
        }

        .row-conteiner__free-shipping {
            margin: 20px 20px 10px;
            
            & input  {
                background-color: #f4f4f4;
                vertical-align: bottom;
                height: 18px;
                width: 18px;
                margin-left: 10px;
            } 
        }
    
        .row-container__photo {
            margin: 15px 20px 10px;
    
            & input[type="file"] {
                margin-left: 10px;
                text-align: center;
            }
        }

        @media (min-width: 480px) {
            padding: 20px;
            min-width: 400px;
            width: 100px;
        }
    
        @media (min-width: 768px) {
            padding: 20px;
            min-width: 500px;
            width: 800px;
        }
        .button-container {
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
        
            &__alta {
                color: #f4f4f4;
                background-color: #081e5fda;
                font-size: 15px;
                font-weight: 600;
                text-transform: uppercase;
                border-radius: 18px;
                width: 200px;
                padding: 8px 20px;
                // row-gap: 10px;
                margin-right: 15px;
            }
        }
    }

}