.main-we{
    &__img {
        display: flex;
        justify-content: center;
    }

    &__container {
        margin: auto;
        max-width: 1000px;
        border: 2px solid #000;
        padding: 0 50px;
        // font-weight: bold;
        display: flex;
        // justify-content: center;
        min-width: 400px;
        
        &-text {
            float: right;
            text-align: justify;
            padding: 20px 20px 30px; 
            width: 600px;
            & p {
                // margin-left: 50px;
            }
            
            & h1 {
                margin: 20px 0 30px;
                font-size: 45px;
                font-family: 'Fredoka One', cursive;
            } 
        }
        
        &-img {
            overflow: visible;
            padding-right: 50px;
            margin-top: 100px;
            background-image: url(/img/portada/image.jpg);
            background-size: 400px 300px;
            background-repeat: no-repeat;
            width: 400px;
            height: 400px;
        }
    }

    &__team {
        border: 2px solid #000;
        margin: auto;
        max-width: 1000px;
        min-width: 400px;
        padding: 0 50px;
    }
}
.team-profile{
    border-radius: 20px;
    
    margin-top: 20px;
    display: flex;
    justify-content: center;
    border: 2px solid rgb(188, 183, 183);
    min-width: 350px;
    max-width: 600px;
    &__img {
        align-self: center;
        margin: auto;
        width: 180px;
        height: 180px;
        & img {
            border: #444 solid 2px;
            border-radius: 20px;
            height: 160px;
            display: block;
            width: 180px;
        }
    }
    &__data {
        padding: 15px;
        min-width: 300px;
        max-width: 380px;
        text-align: justify;
    }
        
}