
<form action="alta.html" method="post">
    <fieldset class="row-container">
        <legend>Productos</legend>
        <div class="row-container__data">
            <label for="name">Nombre: </label>
            <input type="text" name="name" autofocus required>
        </div>
        <div class="row-container__data">
            <label for="price">Precio: </label>
            <input type="number" name="price">
        </div>
        <div class="row-container__data">
            <label for="stock">Stock: </label>
            <input type="number" name="stock">
        </div>
        <div class="row-container__data">
            <label for="brand">Marca: </label>
            <input type="text" name="brand">
        </div>
        <div class="row-container__data">
            <label for="category">Categoría: </label>
            <input type="text" name="category">
        </div>
        <div class="row-container__description">
            <div class="row-container__description-label">
                <label for="long-description">Descripción corta: </label>
            </div>
            <textarea class="short-description" name="short-description"></textarea>
        </div>
        <div class="row-container__description">
            <div class="row-container__description-label">
                <label for="long-description">Descripción larga: </label>
            </div>                
            <textarea class="long-description" name="short-description"></textarea>
        </div>
        <div class="row-container__free-shipping">
            <label for="free-shipping">Envió sin cargo: </label>
            <input type="checkbox" name="free-shipping">
        </div>
        <div class="row-container__data">
            <label for="category">Edad desde: </label>
            <input type="number" name="category">
        </div><div class="row-container__data">
            <label for="category">Edad hasta: </label>
            <input type="number" name="category">
        </div>
        <div class="row-container__photo">
            <label for="photo">Foto: </label>
            <input type="file" name="photo">
        </div>
    </fieldset>

    <div class="button-container">
        <button class="button-container__alta" type="reset">Cancelar</button>
        <button class="button-container__alta" type="submit">Crear producto</button>
    </div>
</form>

    <!-- <footer class="main-footer">
        <div class="main-footer__container">
            <div class="main-footer__icons">
                <i class="fa-brands fa-whatsapp fa-2xl"></i>
                <i class="fa-brands fa-facebook fa-2xl"></i>
                <i class="fa-brands fa-instagram fa-2xl"></i>
            </div>
            <div class="main-footer__menu">
                <div class="main-footer__menu-card">
                    <h3>
                        <img src="img/iconos/LogoMakr-74R8Ui.png" alt="">
                    </h3>
                    <nav>
                        <ul>
                            <li><a href="#">541155554444</a></li>
                            <li><a href="#">+54 11 4962-5000</a></li>
                            <li><a href="#">jugueteriacosmica@gmail.com.ar</a></li>
                            <li><a href="#">Av. Corrientes 2027, CABA</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="main-footer__menu-card">
                    <h3>Comprar</h3>
                    <nav>
                        <a href="#">Por edad</a>
                        <a href="#">Por marca</a>
                        <a href="#">Política de Cambios y Devoluciones</a>
                        <a href="#">Botón de Arrepentimiento</a>
                    </nav>
                </div>
                <div class="main-footer__menu-card">
                    <h3>Ayuda</h3>
                    <nav>
                        <a href="#">Reclamos</a>
                        <a href="#">Legales</a>
                        <a href="#">Preguntas Frecuentes</a>
                        <a href="#">Términos y condiciones</a>
                    </nav>
                </div>
            </div>
            <p class="main-footer__copyright">Copyright 2022 © Juguetería Cósmica. Todos los derechos Reservados.</p>
        </div>
    </footer> -->

    <!-- <script src="js/main.js"></script>

</body>
</html> -->