<form class="main-form">
    <fieldset class="main-form__container">
        <legend>Tus Datos</legend>
        <div class="main-form__countryside">
            <label for="name">Nombre: </label>
            <input  id="name" type="text" placeholder="Tu Nombre" required>
        </div>
        <div class="main-form__countryside">
            <label for="email">E-mail:</label>
            <input id="email" type="email" placeholder="Tu Email" >
        </div>
        <div class="main-form__countryside">
            <label for="tel">Mensaje:</label>
            <textarea rows="10" cols="20"></textarea>
        </div>
    </fieldset>

    <input class="btn" type="submit" value="Enviar Formulario" >
</form>
